@model Northwest_Solution.Models.Client

@{
    Layout = null;
}

<!DOCTYPE html>

<html id="top">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/jqueryval")
@Scripts.Render("~/bundles/bootstrap")
@Styles.Render("~/Content/css")

<body style="background: url(../../img/bg-masthead.jpg)no-repeat center center fixed; padding-top: 20px;
    padding-bottom: 20px;">
 
        <div class="container" style="margin-top: 12em; background-color: #ffffffd4; padding: 2em;border-radius: 95px;max-width: 25em;">
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()
                
                <div class="form-horizontal">
                    <h2 class="text-center" id="meow">Create your account</h2>
                    <h4 class="text-center" id="meow">Your access to all your Compound assays</h4>
                    <hr />

                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })<br />
                        </div>
                        <div class="col-md-12" style="display: inline-block">
                            @Html.EditorFor(model => model.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })
                        </div>
                        <div class="col-md-12" style="display: inline-block">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-12">
                            @Html.LabelFor(model => model.RePassword, htmlAttributes: new { @class = "control-label" })
                        </div>   
                        <div class="col-md-12" style="display: inline-block">
                            @Html.EditorFor(model => model.RePassword, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RePassword, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <br />
                    <hr />
                    <div class="form-group">
                        <div class="col-lg-offset-3 col-lg-9">
                            <a class="btn btn-primary btn-xl js-scroll-trigger"  href="@Url.Action("Login" , "Home" )">Back</a>
                            <a class="btn btn-primary btn-xl js-scroll-trigger"  href="#hidden">Next</a>
                            <!--<a class="btn btn-primary btn-xl js-scroll-trigger" href="#hidden" data-toggle="collapse">Next</a>-->
                        </div>
                    </div>
                 </div>
            }
                </div>
        <br /><br /><br />

        <!--<div id="hidden" class="collapse container" style="margin-top: 10em; background-color: #ffffffd4; padding: 2em;border-radius: 95px;max-width: 35em;">-->
        <div class="container" style="margin-top: 10em; background-color: #ffffffd4; padding: 2em;border-radius: 95px;max-width: 35em;">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div id="hidden" class="form-horizontal">
                    <h2 class="text-center" id="meow">Please fill out your company's information</h2>
                    <hr />
                    <div class="form-group">
                        @Html.LabelFor(model => model.ClientName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.RepName, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.RepName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.RepName, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Phone, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.State, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Zip, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Zip, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Zip, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Country, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.ClientPhone, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-12">
                            @Html.EditorFor(model => model.ClientPhone, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientPhone, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <hr />
                    <div class="form-group">
                        <div class="row">
                            <div class="col-lg-offset-3 col-lg-3">
                                <a class="btn btn-primary btn-xl js-scroll-trigger" href="#top">Back</a>
                            </div>
                            <div class="col-lg-3 float-right">
                                <input type="submit" value="Create" class="btn btn-primary bt-xl" />

                                <!--<a class="btn btn-primary btn-xl js-scroll-trigger" href="Url.Action("Index" , "Client" )">Create</a>-->
                            </div>

                        </div>
                    </div>
                </div>
            }
        </div>
    <br />
    <hr />
    <footer class="text-center">
        <p>&copy; @DateTime.Now.Year - Northwest Labs</p>
    </footer>
</body>

</html>
