
@{
    ViewBag.Title = "ViewWO";
}

<h2>View Work Orders</h2>
@Html.DropDownList("tests")
<br /> <br />
<a href="#hidden1" data-toggle="collapse" class="btn btn-primary btn-md">Select Client</a>
<br />
<br />
<div class="container collapse" id="hidden1">
    <table class="table">
        <tr>
            <th>
                <p>Order Number</p>
            </th>
            <th>
                <p>Start Date</p>
            </th>
            <th>
                <p>Status</p>
            </th>
            <th>
                <p>Assay Name</p>
            </th>
            <th>
                <p>Details</p>
            </th>
            <th>
                <p>Invoice</p>
            </th>
        </tr>

        <tr>
            <td>
                <p>434882</p>
            </td>
            <td>
                <p>4/12/2017</p>
            </td>
            <td>
                <p>Back Order</p>
            </td>
            <td>
                <p>CustomScreen</p>
            </td>

            <td>
                @Html.ActionLink("Details", "Details", null, null)
            </td>
            <td>
                @Html.ActionLink("Generate Invoice", null, null, null)
            </td>
        </tr>

        <tr>
            <td>
                <p>243556</p>
            </td>
            <td>
                <p>5/2/2017</p>
            </td>
            <td>
                <p>In Progress</p>
            </td>
            <td>
                <p>CustomScreen</p>
            </td>

            <td>
                @Html.ActionLink("Details", "Details", null, null)
            </td>
            <td>
                @Html.ActionLink("Generate Invoice", null, null, null)
            </td>
        </tr>

        <tr>
            <td>
                <p>984561</p>
            </td>
            <td>
                <p>5/20/2017</p>
            </td>
            <td>
                @{
                    if (ViewBag.WasApproved == true)
                    {
                        <p>In Progress</p>
                    }
                    else
                    {
                        <p style="color: red;">Approval Pending</p>
                    }
                }
            </td>
            <td>
                <p>CustomScreen</p>
            </td>

            <td>
                @{
                    if (ViewBag.WasApproved == true)
                    {
                        @Html.ActionLink("Details", "Details", null, null)
                    }
                    else
                    {
                        @Html.ActionLink("Approval", "Approval", null, null)
                    }
                }
            </td>
            <td>
                @Html.ActionLink("Generate Invoice", null, null, null)
            </td>
        </tr>
        <tr>
            <td>
                <p>243556</p>
            </td>
            <td>
                <p>5/2/2017</p>
            </td>
            <td>
                <p style="color: green;">Complete</p>
            </td>
            <td>
                <p>CustomScreen</p>
            </td>

            <td>
                @Html.ActionLink("Details", "Details", null, null)
            </td>
            <td>
                @Html.ActionLink("Generate Invoice", "Invoice", null, null)
            </td>
        </tr>
    </table>
</div>
<br />
<p>@Html.ActionLink("Back", "Tab", "Employee", null, new { @class = "btn btn-primary btn-medium" })</p>